NEXT_PUBLIC_SUPABASE_URL=https://jhfbddjmhfwmpptvquhp.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpoZmJkZGptaGZ3bXBwdHZxdWhwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIxOTYzNDgsImV4cCI6MjA5Nzc3MjM0OH0.5XJexqbolGZutswNehMOAm_tIiC9xjBlPPma4uDG0lg
